<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start"><img src="../../assets/icon/trophy.png" /></ion-thumbnail>
    <ion-title>
      Classisfication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Classification</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-list>
    <ion-item>
      <button onclick={printer}>response1</button>
      <ion-badge slot="start" color="medium">points</ion-badge>
      <ion-label><ion-text>º</ion-text></ion-label>
      <ion-badge slot="end" color="success">won</ion-badge>
      <ion-badge slot="end" color="success">losses</ion-badge>
      <ion-badge slot="end" color="success">tied</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
